body{
    background-image: url('Luigi2gif.gif');
    background-size: cover;
    
    
    
    height: 0vh;
    padding:0;
    margin:0;
}

#border {
    margin: 10px 0;
    padding: 10px;
    border: 10px solid rgb(47, 168, 67);
    text-indent: 3ch;
}

.center {
    text-align: center;

  }
